body {
    background-image: linear-gradient(yellow, red);
    margin: 15px 25px 45px 25px;
    font-family: "Architects Daughter";
    font-size: 1.8rem;
}
h1, #p1 {
    font-size: 2rem;
    text-align: center;
}
#pic1, #pic2, #pic3, #pic4 {
    width: 50%;
    height: auto;
    margin: 15px 25% 15px 25%;
    border: 2px purple solid;
}
iframe {
    margin: 15px 32% 15px 32%;
    border: 2px black solid;
}
footer {
    text-align: center;
    font-size: 1.2rem;
}